/* @media (max-width: 1210px) {
  .carousel-slider-container img {
    max-width: 100%;
    height: auto;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .input-container {
    width: 904px;
  }

  .card-game-element {
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .card-game-element {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header-container {
    display: none;
  }

  .input-container input {
    max-width: 868px;
  }

  .input-container img {
    margin-right: 68px;
  }

  #data-carousel,
  footer {
    width: 918px;
  }

  .carousel-slider-container img {
    height: 100%;
    object-fit: scale-down;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .card-game-element {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-game-container {
    margin-right: 90px;
  }
}

@media (max-width: 500px) {
  #data-carousel,
  footer {
    width: 400px;
  }

  .carousel-slider-container img {
    height: 100%;
    object-fit: scale-down;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .input-container {
    width: 327px;
    margin-right: 915px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  input,
  .see-more {
    width: 327px;
    margin-right: 1.5rem;
  }

  .card-game-container {
    margin-right: 890px;
  }

  .card-game-element {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 50px;
  }
  .card-game-element img {
    width: 200px;
  }
} */

@media screen and (max-width: 1024px) {
   .steam-advisor, .steam-advisor-img, .steam-advisor-text, .button-cta {
    display: none;
   }
  
  .links-items {
    font-size: var(--fontSizeBase200); 
  }

  .card-game-element {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .application-links {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .card-game-element {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
}


@media screen and (max-width: 600px) {
  .card-game-element {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .card-game-element {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
  }
}