@media (max-width: 1210px) {
  .carousel-slider-container img {
    max-width: 100%;
    height: auto;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .input-container {
    width: 904px;
  }

  .card-game-element {
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .card-game-element {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .carousel-slider-container img {
    height: 100%;
    object-fit: scale-down;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .card-game-element {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  .carousel-slider-container img {
    height: 100%;
    object-fit: scale-down;
  }

  .application-links {
    display: none;
  }

  .button-cta,
  .steam-advisor,
  .steam-advisor-img,
  .steam-advisor-text {
    display: none;
  }

  .input-container {
    width: 327px;
    margin-right: 915px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  input,
  .see-more {
    width: 327px;
    margin-right: 1.5rem;
  }

  .card-game-container {
    margin-right: 890px;
  }

  .card-game-element {
    grid-template-columns: 1fr; 
    justify-content: center;
    margin-left: 50px;
  }
  .card-game-element img {
    width: 200px;
  }
}
